@use "../global" as global;

.p-balloon-background {
  background-image: url(../img/background-balloon-1.png), url(../img/background-balloon-2.png), url(../img/background-balloon-3.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: right -66px top 476px, left -70px top 1136px, right -84px top 2071px;
  background-size: 200px 203px;

  @include global.mq(sm) {
    background-image: url(../img/background-balloon-1.png), url(../img/background-balloon-2.png), url(../img/background-balloon-3.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right -90px top 500px, left -74px top 1164px, right -100px top 2032px;
    background-size: 250px 256px;
  }

  @include global.mq(md) {
    background-image: url(../img/background-balloon-1.png), url(../img/background-balloon-2.png), url(../img/background-balloon-3.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right -130px top 540px, left -134px top 1204px, right -125px top 2150px;
    background-size: 320px 329px;
  }

  @include global.mq(lg) {
    background-image: url(../img/background-balloon-1.png), url(../img/background-balloon-2.png), url(../img/background-balloon-3.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left calc(50% + 503px) top 639px, right calc(50% + 572px) top 1060px, left calc(50% + 579px) top 1819px;
    background-size: 600px 603px, 600px 600px;
  }
}
